$fz-s:18px;
$fz-m:20px;
$fz-l:24px;
$grid-width:20px;

$text-color:#3d1101;
$header-text-color:#fff;

$line-height:1.3;

$primary-bg-color:#efe9e7;
$secondary-bg-color:#3d1101;

$container-s:428px;
$container-m:768px;
$container-l:1024px;



