// 好吃的秘訣
.secert-container {
    background-color: $primary-bg-color;
    line-height: $line-height;
    padding: 40px 0;
}

.secert {
    @include container;
    position: relative;

    &-title {
        width: 225px;
        font-size: $fz-m;
        text-align: center;
        margin: 0 auto;
        position: relative;
        background-color: $primary-bg-color;
        z-index: 9;
    }

    &-line {
        width: 461px;
        border: 1px solid #979797;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include pad {
            width: 411px;
        }

        @include mobile {
            width: 271px;
        }
    }
}

.secert-info {
    @include container;
    margin-top: $grid-width*2;
    justify-content: space-evenly;

    @include pad {
        justify-content: space-between;
        @include grid;
    }

    @include mobile {
        flex-direction: column;
    }

    &_card {
        width: 30%;

        @include mobile {
            width: 100%;
            padding: 20px 0;
        }

        img {
            display: block;
            border-radius: 50%;
            margin: 0 auto;
        }

        h3 {
            font-size: $fz-s;
            text-align: center;
            margin: 15px 0;
        }
    }
}

// 今日主廚
.chef-container {
    background-color: $secondary-bg-color;
    line-height: $line-height;
    color: #fff;
}

.chef-info {
    @include container;
    align-items: center;

    @include mobile {
        flex-direction: column;
    }

    &_picture {
        display: block;
        height: 460px;
        margin-left: 20px;

        @include pad {
            width: 45%;
            object-fit: cover;
        }

        @include mobile {
            width: 100%;
            margin-left: 0;
        }
    }

    &_introduce {
        @include grid;

        @include mobile {
            padding: 20px;
        }

        h2 {
            font-size: $fz-m;

            @include pad {
                font-size: $fz-s;
            }
        }

        p {
            margin-top: 30px;
        }
    }
}

// 別人的感想
.thought-container {
    background-color: $primary-bg-color;
    line-height: $line-height;
    padding: 40px 0;
}

.thought {
    @include container;

    &-title {
        font-size: $fz-l;
        text-align: center;
    }
}

.thought-info {
    justify-content: space-around;
    margin-top: $grid-width*2;

    @include width-560 {
        flex-direction: column;
    }
}

.thought-info--card {
    width: 33%;
    display: flex;
    justify-content: space-evenly;

    @include pad {
        width: 30%;
    }

    @include width-560 {
        width: 100%;
    }

    &_pic {
        display: block;
        width: 67px;
        height: 67px;
        border-radius: 50%;
    }

    &_text {
        width: 70%;

        @include pad {
            padding-left: 5px;
        }

        @include width-560 {
            width: 65%;
            padding: 0;
        }

        h3 {
            font-size: $fz-s;
            margin-top: 20px;
        }

        p {
            margin: 20px 0;
        }
    }

    &_end {
        display: flex;
        justify-content: flex-end;
    }
}

// 是否先訂位
.booking-container {
    line-height: $line-height;
    padding: 40px 0;
}

.booking {
    @include container;

    &-title {
        font-size: $fz-l;
        text-align: center;
        margin-bottom: $grid-width*2;
    }
}

.booking-info {
    @include width-480 {
        flex-direction: column;
    }

    &_map {
        display: block;
        width: 460px;
        height: 388px;
        padding-left: 20px;

        @include pad {
            width: 55%;
            object-fit: cover;
        }

        @include width-480 {
            width: 95%;
            padding-left: 0;
            margin: 0 auto 20px auto;
        }
    }

    &_form {
        width: 45%;
        @include grid;

        @include width-480 {
            width: 88%;
            padding: 0 5px 0 5px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 20px;

            input {
                display: block;
                width: 98%;
                outline: none;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 5px;
            }
        }

        .option {
            display: initial;

            input {
                display: inline;
                width: initial;
                outline: none;
                border: none;
                border-radius: 0;
                padding: 0;
            }
        }

        .yes {
            margin-right: 20px;
        }

        p {
            margin-bottom: 5px;
        }
    }
}

.form-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    &_cancel {
        @include btn-style;
        padding: 6px 20px;
        background-color: rgba(0, 0, 0, 0.35);
        margin-right: 20px;

        &:hover {
            background-color: #3d1101;
        }
    }

    &_submit {
        @include btn-style;
        padding: 6px 20px;
        background-color: #f56c23;

        &:hover {
            background-color: #3d1101;
        }
    }
}